<footer class="mt-auto border-top border-secondary-subtle py-4">
    <div class="container text-center">
        <ul class="row list-unstyled">
            {% include "main/components/footer-item.html" with is_footer_link=True footer_link="#" footer_link_name="Privacy Policy" %}
            {% include "main/components/footer-item.html" with is_footer_link=True footer_link="#" footer_link_name="Terms of Service" %}
            {% include "main/components/footer-item.html" with footer_item_data="&copy; 2026. All rights reserved." %}
        </ul>
    </div>
</footer>
